@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
  }
  @media (max-width: 768px) {
    .cv-container {
        flex-direction: column;;
    }
  }
  * {
    box-sizing: border-box;
  }
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background: url("assets/mhk_11.jpg") no-repeat center;
    background-size: cover;
    margin: auto;
  }
  body {
    font-family: "OpenSans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color:rgb(48, 46, 46)
}
.container {
    width: 1024px;
    margin: 0 auto;
}
.header {
    background-color: rgb(74, 69, 69);
}
.footer {
    background-color:rgb(74, 69, 69);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.cv-container {
    display: flex;
    justify-content: center;
}
.left-column {
    border-right: 1px solid rgb(74, 69, 69);
    flex: 0.35;
    padding: 15px;
    
}
.right-column { 
    flex: 0.65;
    padding: 20px;
}
.right-column h2 {
    border-bottom: 2px solid rgb(74, 69, 69);
}
.nav-list {
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;

}
.nav-link {
    text-decoration: none;
    color: white;
}
#photo {
    
    width: 250px;
    height: 30%;
    border: 2px solid rgb(74, 69, 69);
    margin: 0 auto;
    display: block;

}
h1 {
    text-align: center;
}
#junior {
    text-align: center;
    font-weight: 500;
}
#contacts {
    text-align: center;
    border: 1px solid rgb(74, 69, 69);
    background-color:rgb(74, 69, 69);
    color: white;
}
#skills {
    text-align: center;
    border: 1px solid rgb(74, 69, 69);
    background-color:rgb(74, 69, 69);
    color: white;
}
#code {
    border: 1px solid rgb(74, 69, 69) ;
}
.cont-link {
    text-decoration: none;
    color:rgb(48, 46, 46)
}
.course-link {
    text-decoration: none;
    color:rgb(48, 46, 46)
}
.git-link {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
.rrs-img {
    width: 50px;
}